/* Text Elements */

h1 {
  color: #fff;
  text-align: center;
  font-weight: 100;
  font-size: 4em;
  font-family: 'Montserrat', cursive;
}
h1.heading-4 {
  color: #fff;
  text-align: center;
  font-weight: 100;
  font-size: 4em;
  font-family: 'Montserrat', cursive;
}
.mainheader {

  font-family: 'Montserrat';
  text-align: center;
  font-size: 4em;
  font-weight: 400;

}
.herotext {
  color: #fff;
  text-align: center;
  font-weight: 200;
  font-size: 4em;
  font-family: 'Montserrat', cursive;
}

h2.heading-2 {
  padding-top: 1em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
}

h2.heading-2-1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 220%;
  font-family: 'Roboto Condensed', cursive;
}

h3.heading-3 {
  text-align: center;
  font-weight: 300;
  font-size: 1em;
  font-family: 'Roboto', cursive;
}

h3 {
  font-family: 'Roboto', sans-serif;
}

h4.heading-1 {
  color: #323232;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2em;
  font-family: 'Montserrat', cursive;
}

p.paragraph.paragraph-3 {
  padding-right: 0;
  padding-left: 2em;
  background-color: rgba(128, 50, 128, .8);
  color: #e9e9e9;
  font-size: 1em;
  font-family: 'Nothing You Could Do', cursive;
}

p.paragraph.paragraph-4 {
  padding-top: 0;
  padding-right: 2em;
  background-color: rgba(128, 50, 128, .8);
  color: #e9e9e9;
  text-align: right;
  font-family: 'Nothing You Could Do', cursive;
}

p.paragraph.paragraph-5 {
  padding-left: 2em;
  background-color: rgba(128, 50, 128, .8);
  color: #e9e9e9;
  font-family: 'Nothing You Could Do', cursive;
}

p.paragraph.paragraph-6 {
  padding-right: 2em;
  background-color: rgba(128, 50, 128, .8);
  color: #e9e9e9;
  text-align: right;
  font-family: 'Nothing You Could Do', cursive;
}

p.paragraph {
  margin-top: 7px;
  margin-bottom: 7px;
  padding-bottom: 5px;
  color: #5e5955;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
}

p.paragraph.paragraph-1 {
  color: #323232;
  font-weight: 300;
  font-size: 1em;
  font-family: 'Montserrat', cursive;
}

p.paragraph.paragraph-standard-black {
  text-align: center;
  font-weight: 300;
  font-size: 1em;
  font-family: 'Roboto Condensed', cursive;
}

span.text-element.text-2 {
  padding-top: 1em;
  padding-bottom: 1em;
  color: #fff;
  text-align: center;
  font-size: .8em;
  font-family: 'Raleway', sans-serif;
}

a.link-text.topbar-responsive-logo {
  color: #fefefe;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: .8em;
  font-family: 'Raleway', cursive;
}

ul.link-list.menu {
  background-color: #2c3840;
}

ul.link-list.medium-horizontal.menu.simple.vertical {
  position: relative;
  float: none;
  background-color: #232323;
}

/* Layout Elements */

.container.row-2 {
  background-color: #2a2a2a;
}

.container.row-3 {
  padding-top: 0;
  min-height: 0;
  max-width: none;
  background-color: #3b3b3b;
}

.container.column-7 {
  padding-bottom: 1.5em;
}

.container.column-8 {
  padding-bottom: 1.5em;
}

.container.row-4 {
  min-height: 340px;
  max-width: none;
  background-image: url('../images/images/cafeview1800.jpeg');
  background-attachment: scroll;
  background-position: center center;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: cover;
  background-repeat: no-repeat;
}

.container.column-9 {
  margin-top: 0;
  padding: 0;
  min-height: 200px;
  background-image: url('../images/images/getsomevibebanner.png');
  background-attachment: scroll;
  background-position: center center;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: 90% auto;
  background-repeat: no-repeat;
}

.container.column-11 {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 6em;
  padding-right: 0;
  padding-left: 0;
  min-height: 200px;
  background-image: url('../images/images/maybenowcoversmall.jpeg');
  background-attachment: scroll;
  background-position: center center;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: contain;
  background-repeat: no-repeat;
}

.container.column-12 {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 6em;
  padding-right: 0;
  padding-left: 0;
  min-height: 200px;
  background-image: url('../images/images/waitingcoversmall.jpeg');
  background-attachment: scroll;
  background-position: center center;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: contain;
  background-repeat: no-repeat;
}

.container.column-13 {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 4em;
  padding-right: 0;
  padding-left: 0;
  min-height: 200px;
  background-image: url('../images/images/lookoutcoversmall.jpeg');
  background-attachment: scroll;
  background-position: center center;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: contain;
  background-repeat: no-repeat;
}

.container.column-14 {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 4em;
  padding-right: 0;
  padding-left: 0;
  min-height: 200px;
  background-image: url('../images/images/nosoulfoolcoversmall.jpeg');
  background-attachment: scroll;
  background-position: center center;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: contain;
  background-repeat: no-repeat;
}

.container.column-15 {
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
  text-align: center;
}

.container.top-bar-responsive {
  padding: .75rem;
  background-color: #2c3840;
}

.container.top-bar.top-bar-responsive {
  background-color: #232323;
}

.container.top-bar-title {
  position: relative;
  width: 100%;
}

.container.icon-container {
  position: absolute;
  top: 50%;
  right: 7px;
  padding: .25rem .45rem;
  border: .0625rem solid #fefefe;
  border-radius: 5px;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

.container#topbar-responsive {
  display: none;
}

.container.topbar-responsive-links {
  -webkit-transition-timing-function: ease-in-out;
     -moz-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: .3s;
     -moz-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
}

.container.column-1 {
  padding: 1em 4em;
}

.container.column-2 {
  padding-right: 4em;
  padding-left: 4em;
}

.container.column-3 {
  padding: 1em 4em;
}

.container.row-4-1 {
  padding-right: 2em;
  padding-left: 2em;
}

.container.column-4 {
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}

a.social-image.social-icon-2 {
  float: right;
  max-width: 38px;
  border: .125rem solid #bc981c;
  border-radius: 40px;
  background-color: transparent;
}

a.social-image.social-icon-1 {
  max-width: 38px;
  border: .125rem solid #bc981c;
  border-radius: 40px;
  background-color: transparent;
}

span.glyph.menu-icon-toggle {
  position: static;
  display: inline-block;
  margin: 2px auto;
  width: auto;
  color: #fefefe;
  font-size: 20px;
  line-height: 1;
}

li.list-item-link.menu-link > a {
  color: #fefefe;
  font-size: .8em;
  font-family: 'Raleway', cursive;
}

li.list-item-link.menu-link {
  padding-top: .875rem;
  padding-bottom: .875rem;
  -webkit-transition-timing-function: ease-in;
     -moz-transition-timing-function: ease-in;
       -o-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-duration: .15s;
     -moz-transition-duration: .15s;
       -o-transition-duration: .15s;
          transition-duration: .15s;
}

div.responsive-picture.picture-1 {
  position: relative;
  display: block;
  float: none;
  max-width: none;
}

li.list-item-link.menu-link:hover > a {
  color: #c7c7c7;
}

@media screen and (min-width: 40rem) {
  /* Text Elements */

  h2.heading-2 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
  }

  h2.heading-2-1 {
    position: -webkit-sticky;
    position:         sticky;
    display: block;
    -ms-flex-order: 0;
    float: none;
    clear: none;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    white-space: pre;
    font-size: 220%;
    font-family: 'Roboto Condensed', cursive;

    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
       -moz-box-ordinal-group: 1;
            order: 0;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
            align-self: center;
  }

  h2.heading-3 {
    color: rgba(0, 0, 0, .8);
    text-transform: uppercase;
    font-size: 2.2em;
    font-family: 'Roboto Condensed', cursive;
  }

  h3.heading-3 {
    color: #323232;
    text-align: center;
    font-weight: 300;
    font-size: 2em;
    font-family: 'Montserrat', cursive;
  }

  h4.heading-1 {
    margin-bottom: .5rem;
    padding-left: 90px;
    color: #323232;
    font-weight: 300;
    font-size: 1.6em;
    font-family: 'Montserrat', cursive;
  }

  p.paragraph.paragraph-3 {
    position: relative;
    top: 0;
    right: 6.25em;
    float: none;
    clear: none;
    padding-left: 2em;
    background-color: rgba(128, 50, 128, .8);
    color: #e9e9e9;
    font-size: 1em;
    font-family: 'Nothing You Could Do', cursive;
  }

  p.paragraph.paragraph-4 {
    position: relative;
    margin-top: 0;
    margin-right: 0;
    margin-left: 6em;
    padding-right: 2em;
    padding-left: 0;
    background-color: rgba(128, 50, 128, .8);
    color: #e9e9e9;
    text-align: right;
    font-size: 1em;
    font-family: 'Nothing You Could Do', cursive;
  }

  p.paragraph.paragraph-5 {
    position: relative;
    right: 6em;
    padding-left: 2em;
    background-color: rgba(128, 50, 128, .8);
    color: #e9e9e9;
    font-size: 1em;
    font-family: 'Nothing You Could Do', cursive;
  }

  p.paragraph.paragraph-6 {
    margin-bottom: 0;
    padding-right: 2em;
    background-color: rgba(128, 50, 128, .8);
    color: #e9e9e9;
    text-align: right;
    font-size: 1em;
    font-family: 'Nothing You Could Do', cursive;
  }

  p.paragraph.paragraph-1 {
    padding-left: 90px;
    color: #323232;
    font-size: 1.2em;
    font-family: 'Montserrat', cursive;
  }

  p.paragraph#top-line {
    position: relative;
    float: none;
    text-align: center;
  }

  p.paragraph.paragraph-standard-black {
    position: -webkit-sticky;
    position:         sticky;
    float: left;
    text-align: center;
    font-weight: 300;
    font-variant: normal;
    font-size: 1.2em;
    font-family: 'Roboto Condensed', cursive;
  }

  span.text-element.text-2 {
    color: #fff;
    text-align: center;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
  }

  a.link-text.topbar-responsive-logo {
    text-indent: 0;
    text-transform: uppercase;
    word-spacing: 0;
    letter-spacing: .2em;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    font-size: 1em;
    font-family: 'Roboto', cursive;
  }

  ul.link-list.menu.simple.vertical {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: start;
    -ms-flex-align: start;
    width: auto;

    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
            align-items: flex-start;
  }

  ul.link-list.medium-horizontal.menu.simple.vertical {
    -ms-flex-pack: start;
    -ms-flex-align: center;
    background-color: #232323;

    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
            align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
            justify-content: flex-start;
  }

  /* Layout Elements */

  body.grid-1 {
    min-height: 0;
  }

  .container.row-3 {
    padding-top: 2em;
    padding-bottom: 2em;
    max-width: none;
    background-color: #3b3b3b;
  }

  .container.column-5 {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .container.row-2 {
    min-height: 200px;
    max-width: none;
    background-color: #2a2a2a;
  }

  .container.row-4 {
    min-height: 540px;
    max-width: none;
    background-image: url('../images/images/cafeview1800.jpeg');
    background-attachment: scroll;
    background-position: center center;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .container.column-9 {
    margin-top: 6em;
    margin-bottom: 2em;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    min-height: 180px;
    background-image: url('../images/images/getsomevibebanner.png');
    background-attachment: scroll;
    background-position: center center;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: 90% auto;
    background-repeat: no-repeat;
  }

  .container.column-11 {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 90px;
    padding-top: 11em;
    padding-right: 4em;
    padding-left: 0;
    min-height: 280px;
    background-image: url('../images/images/maybenowcoversmall.jpeg');
    background-attachment: scroll;
    background-position: left center;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .container.column-12 {
    float: right;
    margin: 2em 0;
    padding-top: 2em;
    padding-right: 0;
    padding-left: 1em;
    min-height: 280px;
    background-image: url('../images/images/waitingcoversmall.jpeg');
    background-attachment: scroll;
    background-position: center center;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .container.column-13 {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 90px;
    padding-top: 6em;
    padding-right: 0;
    padding-left: 0;
    min-height: 280px;
    background-image: url('../images/images/lookoutcoversmall.jpeg');
    background-attachment: scroll;
    background-position: left center;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .container.column-14 {
    margin: 2em 0;
    padding-top: 12em;
    padding-right: 0;
    padding-left: 3em;
    min-height: 280px;
    background-image: url('../images/images/nosoulfoolcoversmall.jpeg');
    background-attachment: scroll;
    background-position: center center;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .container.column-15 {
    float: none;
    clear: none;
    padding: 3em 4em;
  }

  .container.row-5 {
    max-width: none;
  }

  .container.row-1 {
    max-width: none;
  }

  .container.top-bar.top-bar-responsive {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -ms-flex-pack: justify;
    -ms-flex-align: center;
    padding: 1em 7em;
    background-color: #232323;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
            align-items: center;
  }

  .container.top-bar-title {
    position: static;
    width: auto;
  }

  .container.icon-container {
    display: none;
  }

  .container.topbar-responsive-links {
    display: block;
    width: auto;
  }

  .container#topbar-responsive {
    display: block;
  }

  .container.top-bar-right {
    max-width: none;
  }

  .container.column-1 {
    padding: 2em 7em 2em 0;
  }

  .container.column-2 {
    padding-right: 7em;
    padding-left: 0;
  }

  .container.column-3 {
    padding: 0 7em 2em 0;
  }

  .container.row-4-1 {
    padding: 2em 5em;
    max-width: none;
  }

  .container.column-3-1 {
    margin-bottom: 40px;
  }

  .container.column-4 {
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    white-space: normal;
  }

  a.social-image#facebook {
    float: right;
  }

  a.social-image.social-icon-2 {
    max-width: 50px;
    border: .125rem solid #bc981c;
    border-radius: 40px;
    background-color: transparent;
  }

  a.social-image.social-icon-1 {
    max-width: 50px;
    border: .125rem solid #bc981c;
    border-radius: 40px;
    background-color: transparent;
  }

  li.list-item-link.menu-link {
    max-width: none;
    width: auto;
  }

  li.list-item-link.menu-link > a {
    font-size: 1em;
    font-family: 'Roboto', cursive;
  }

  .html-element.html-element-1 {
    margin-left: 90px;
  }

  div.responsive-picture.picture-1 {
    position: relative;
    top: auto;
    z-index: auto;
    display: block;
    -ms-flex-order: 0;
    float: none;
    clear: none;
    overflow: hidden;
    margin: 0 0 20px;
    padding-top: 0;
    padding-bottom: 0;
    min-height: auto;
    max-width: none;
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, .2) 3px 3px 18px 1px;
    vertical-align: baseline;
    opacity: .94;

    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
            align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
       -moz-box-ordinal-group: 1;
            order: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0;
       -moz-box-flex: 0;
        -ms-flex: 0 0;
            flex: 0 0;
  }

  div.responsive-picture.picture-1 > picture {
    height: auto;
  }

  div.responsive-picture.picture-1 > picture > img {
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
    -o-object-fit: fill;
       object-fit: fill;
  }
}

@media screen and (min-width: 64rem) {
  /* Text Elements */

  h1.heading-4 {
    position: -webkit-sticky;
    position:         sticky;
    padding-top: 0;
    color: #f5f5f5;
    text-align: center;
    font-weight: 100;
    font-size: 3em;
    font-family: 'Montserrat', cursive;

    grid-area: auto / auto / auto / auto;
  }

  h2.heading-2 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
  }

  h2.heading-2-1 {
    color: #4b4b4b;
  }

  h2.heading-3 {
    color: #4b4b4b;
  }

  h4.heading-1 {
    margin-left: 90px;
    padding-left: 0;
  }

  p.paragraph.paragraph-3 {
    right: 4em;
    float: none;
    margin-right: 4em;
    margin-left: 0;
    padding-right: 0;
    padding-left: 2em;
    background-color: rgba(128, 50, 128, .8);
    color: #e9e9e9;
    font-size: 1.6em;
    font-family: 'Nothing You Could Do', cursive;
  }

  p.paragraph.paragraph-4 {
    left: 4em;
    margin-bottom: 0;
    margin-left: 2em;
    padding-right: 2em;
    background-color: rgba(128, 50, 128, .8);
    color: #e9e9e9;
    text-align: right;
    font-size: 1.6em;
    font-family: 'Nothing You Could Do', cursive;
  }

  p.paragraph.paragraph-5 {
    right: 4em;
    margin-right: 1em;
    padding-left: 2em;
    font-size: 1.6em;
  }

  p.paragraph.paragraph-6 {
    position: relative;
    left: 4em;
    float: none;
    margin-left: 0;
    padding-right: 2em;
    padding-left: 0;
    font-size: 1.6em;
  }

  p.paragraph.paragraph-1 {
    margin-left: 90px;
    padding-left: 0;
  }

  p.paragraph a.paragraph-text-1 {
    color: #e9e9e9;
    line-height: 1.74;
  }

  p.paragraph a.paragraph-text-1:hover {
    color: #ffe59e;
    font-size: 1.5625rem;
    line-height: 1.74;
  }

  span.text-element.text-2 {
    color: #fff;
    text-align: center;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
  }

  ul.link-list.medium-horizontal.menu.simple.vertical {
    background-color: #232323;
  }

  /* Layout Elements */

  .container.row-2 {
    min-height: 320px;
    max-width: none;
    background-color: #2a2a2a;
  }

  .container.column-5 {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .container.row-3 {
    padding-top: 2em;
    padding-bottom: 0;
    padding-left: 1px;
    min-height: 100px;
    max-width: none;
    background-color: #323232;
  }

  .container.row-4 {
    min-height: 640px;
    max-width: none;
    background-image: url('../images/images/cafeview1800.jpeg');
    background-attachment: scroll;
    background-position: center center;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .container.column-9 {
    margin: 6em 0 3em;
    padding: 0;
    min-height: 240px;
    background-image: url('../images/images/getsomevibebanner.png');
    background-attachment: scroll;
    background-position: center center;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: 90% auto;
    background-repeat: no-repeat;
  }

  .container.column-11 {
    margin-top: 2em;
    padding-top: 12em;
    padding-right: 0;
    padding-left: 0;
    min-height: 340px;
    background-image: url('../images/images/maybenowcoversmall.jpeg');
    background-attachment: scroll;
    background-position: left center;
    background-clip: padding-box;
    background-origin: padding-box;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: none;
  }

  .container.row-5 {
    max-width: none;
    background-color: #fff;
  }

  .container.column-12 {
    margin-top: 2em;
    margin-right: 90px;
    padding-top: 2em;
    padding-right: 0;
    padding-left: 1em;
    min-height: 340px;
    background-image: url('../images/images/waitingcoversmall.jpeg');
    background-attachment: scroll;
    background-position: right center;
    background-clip: padding-box;
    background-origin: padding-box;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .container.column-13 {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 90px;
    padding-left: 0;
    min-height: 340px;
    background-attachment: scroll;
    background-position: left center;
  }

  .container.column-14 {
    margin-top: 2em;
    margin-right: 90px;
    margin-bottom: 2em;
    min-height: 340px;
    background-position: right center;
  }

  .container.top-bar.top-bar-responsive {
    padding-right: 6em;
    padding-left: 6em;
    background-color: #232323;
  }

  .container.column-2 {
    position: static;
    float: left;
    padding-right: 0;
    padding-left: 0;
    min-height: 25em;
  }

  .container.column-1 {
    padding-right: 0;
    padding-left: 0;
  }

  .container.row-6 {
    max-width: none;
  }

  .container.row-7 {
    max-width: none;
  }

  .container.row-4-1 {
    padding: 3em 7em;
  }

  .container.column-3-1 {
    padding-right: 1em;
    padding-left: 1em;
  }

  .container.column-9.column-type {
    margin-top: 6em;
    margin-bottom: 1em;
  }

  a.social-image#facebook {
    float: right;
    max-width: 60px;
  }

  a.social-image#googleplus {
    max-width: 60px;
  }

  a.social-image.social-icon-1 {
    border: .125rem solid #bc981c;
    border-radius: 40px;
    background-color: transparent;
  }

  a.social-image.social-icon-2 {
    border: .125rem solid #bc981c;
    border-radius: 40px;
    background-color: transparent;
  }

  .html-element.html-element-1 {
    position: static;
    float: left;
    margin-left: 90px;
    min-height: auto;
    text-align: center;
  }

  div.responsive-picture.picture-1 {
    position: relative;
    width: 100%;
  }
}
